#header {
  height: 100px;
  box-shadow: 0 0 4px #555;
  border: none;
}


#header ul {
  display: flex;
  gap: 20px;
  padding: 0 30px;
  height: 100%;
}

#header ul li {
  display: flex;
  align-items: center;
  padding: 30px;
  height: 100%;
  cursor: pointer;
}

#header ul a {
  color: #555;
  text-decoration: none;
}

#header ul a li:hover {
  background-color: #555;
}

#header ul a li:hover{
  color: white;
}