.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  width: 400px;
  gap: 20px
}